.central-zone-wrapper * {
  z-index: 99;
}

.central-zone-wrapper {
  width: 100%;
}

.central-zone {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border-radius: 30px 0px 30px 0px;
  margin: 100px auto 0px auto;
  align-items: center;
  background-color: #7b7873;
  justify-content: space-around;
}

.time-circle {
  display: flex;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: #4D4D4D;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 20px -10px black;
}

.time-zone {
  position: absolute;
  width: 310px;
  height: 310px;
  border-radius: 100%;

  cursor: pointer;
  z-index: 100;
}

.circle {
  width: 350px;
  height: 350px;
}

.circle-progress {
  fill: none;
  stroke: #b15353;
  stroke-width: 16;

  transition: stroke-dashoffset 0.3s linear;
}

.time-elapsed {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 500;
  color: #FFF4E0;
  letter-spacing: 2px;
  cursor: pointer;
}

.play-button {
  position: absolute;
  width: 260px;
  opacity: 0;
  border-radius: 100%;
  transition: background-color 0.3s, opacity 0.2s;
  z-index: 0;
}
.play-button:hover {
  background-color: #00000030;
}
.play-button:active {
  opacity: 0.2;
  transform: translate(-0.5px, -0.5px);
}
.play-button.visible {
  opacity: 0.4;
  pointer-events: auto;
  z-index: 1;
}

.pause-button {
  position: absolute;
  width: 260px;
  opacity: 0;
  border-radius: 100%;
  transition: background-color 0.3s, opacity 0.2s;
  z-index: 0;
}
.pause-button:hover {
  background-color: #00000030;
}
.pause-button:active {
  opacity: 0.2;
  transform: translate(-0.5px, -0.5px);
}
.pause-button.visible {
  opacity: 0.8;
  pointer-events: auto;
  z-index: 1;
}
.number-pomos {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.delay-cycle-button {
  position: relative;
  bottom: 0%;

  font-size: 24px;
  padding: 10px 30px;
  border-radius: 7px;
  border: 0px;
  color: #ffffff;
  background-color: #b15353;
  cursor: pointer;

  transition: background-color 0.2s, transform 0.1s;
}
.delay-cycle-button:hover {
  background-color: #b85c5c;
}
.delay-cycle-button:active {
  background-color: #ad6464;
  transform: translate(-0.5px, -0.5px);
}

.delay-cycle-description {
  position: relative;
  bottom: 7%;
  left: 20%;
  padding: 10px 20px;

  background-color: #4D4D4D;
  border-radius: 10vw;

  font-family: 'Lucida Sans';

  opacity: 0;
  transition: opacity 0.2s;
}

@media screen and (max-width: 1375px) {
  .central-zone-wrapper * {
    z-index: 0;
  }
  .time-zone {
    z-index: 1000;
  }
}