@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

.central-zone {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  border-radius: 30px 0px 30px 0px;
  margin: 100px auto;
  align-items: center;
  background-color: #7b7873;
  justify-content: space-around;
}

.time-circle {
  display: flex;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: #4D4D4D;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px -15px black;
}

.circle {
  width: 500px;
  height: 500px;
}

.circle-progress {
  fill: none;
  stroke: #B46060;
  stroke-width: 16;

  transition: stroke-dashoffset 1s linear;
}

.time-elapsed {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 500;
  color: #FFF4E0;
  letter-spacing: 2px;

  cursor: pointer;
}

.play-button {
  width: 200px;

  cursor: pointer;
  transition: opacity, 0.15s, transform, 0s;
}

.play-button:hover {
  opacity: 0.8;
}

.play-button:active {
  opacity: 0.7;
  transform: translate(-0.5px, -0.5px);
}

.pause-button {
  width: 200px;
  position: absolute;
  opacity: 0.3;

  display: none;

  cursor: pointer;
  transition: opacity, 0.15s, transform, 0s;
}

.number-pomos {
  font-size: 20px;
  font-weight: 700;
  color: #FFF4E0;
}

.tasks-button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 7px;
  border: 0px;
  margin-bottom: 70px;
  color: #FFF4E0;
  background-color: #B46060;
  cursor: pointer;
}