.header {
  display: flex;
  height: 8%;
  padding: 0.2em 20em 1em 20em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px 8px 0px;

  width: 100%;
  min-width: 250px;
  max-width: 2000px;
}

.title {
  margin: 0;
  color: #FFF4E0;
  font-size: 30px;
  min-width: 183px;
}

.settings-icon {
  width:35.5px;
  cursor: pointer;
  min-width: 40px;
}

.line {
  border-bottom: solid #b46060 5px;

  width: 100%;
  min-width: 250px;
  max-width: 2000px;
}

@media screen and (max-width: 1700px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 25em;
    padding: 0;
  }
}