@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  border: solid red 0px;
}
.header {
  display: flex;
  flex-direction: column;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px 8px 0px;
}

.title {
  margin: 0;
  color: #FFF4E0;  
  font-size: 30px;
}

.settings-icon {
  width: 40px;
  max-height: 35px;
  flex-basis: 30px;
}





/*
.settings-button {
  margin: 20px;
  background-color: #FFF4E0;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

  transition: all 0.2s ease;
}

.settings-button:hover {
  background-color: #FFBF9B;
  color: #FFF4E0;
}
*/

.line {
  border-bottom: solid #b46060 3px;
}