@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.settings-icon {
  fill: white;
  width: 45px;
  height: auto;
  margin: 0px 20px 0px 0px;
}



.title {
  margin: 0px 0px 0px 20px;
  color: #FFF4E0;  
}

/*
.settings-button {
  margin: 20px;
  background-color: #FFF4E0;
  border: 0px;
  border-radius: 7px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;

  transition: all 0.2s ease;
}

.settings-button:hover {
  background-color: #B46060;
}
*/

.line {
  border-bottom: solid orange 3px;
}