.quote-requests-container {
    display: none;
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

    max-width: 250px;

    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    font-size: 14px;
}

.quote-requests-info {
    margin-top: 50px;
}

.quote-of-the-day {
    margin-top: 50px;
}

.day-of-the-year {
    margin-top: 10px;
    font-size: 12px;
}