.header {
  display: flex;
  height: 8%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80em;
  margin: 0 auto;
  padding: 0em 10em;
}

.line {
  border-bottom: solid #b15353 5px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px 8px 0px;
  width: 100%;
  box-sizing: border-box;
}

.music-icon, .music-icon.default, .music-icon.pomodoro, .music-icon.shortbreak, .music-icon.longbreak {
  width: 45.5px;
  cursor: pointer;
  min-width: 40px;
  border-radius: 100%;
  padding: 5px;
  transition: background-color 0.3s;
}
.music-icon:hover, .settings-icon:hover {
  background-color: #b15353df;;
}
.music-icon:active, .settings-icon:active {
  background-color: #b05555df;
  transform: translate(-0.3px, -0.3px);
}
.music-icon.default:hover, .settings-icon.default:hover {
  background-color: #B15353;
}
.music-icon.pomodoro:hover, .settings-icon.pomodoro:hover {
  background-color: #CB3333;
}
.music-icon.shortbreak:hover, .settings-icon.shortbreak:hover {
  background-color: #337DCB;
}
.music-icon.longbreak:hover, .settings-icon.longbreak:hover {
  background-color: #8133CB;
}

.settings-icon, .settings-icon.default, .settings-icon.pomodoro, .settings-icon.shortbreak, .settings-icon.longbreak {
  width:35.5px;
  cursor: pointer;
  min-width: 40px;
  border-radius: 100%;
  padding: 5px;
  transition: background-color 0.3s;
}

.title {
  margin: 0;
  font-family: Garamond, serif;
  color: #fffffff1;
  font-size: 37px;
  letter-spacing: 1px;
  cursor: pointer;
}

.title-anchor {
  text-decoration: none;
}

@media screen and (max-width: 1375px) {
  .header-wrapper {
    padding: 0;
  }

  .header {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 25em;
    padding: 0;
  }
}