.background-image {
    align-self: center;
    display: none;
    position: absolute;
    top: 5%;
    left: 3.5%;
    width: 20em;
    height: auto;
    border-radius: 10vw;
}

.airballon-background-image {
    display: block;
}