.background-image {
    align-self: center;
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    border-radius: 22px;
}

.airballon-background-image {
    display: block;
}