.music-player-flex {
    overflow: hidden;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: start;    
    left: 0;
    right: 0;
    top: calc(7% + 1em);
    margin: 0 auto 0 auto;
    max-width: 80em;
    padding: 0em 10em;
    z-index: 1;
}

.music-player-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B46060;
    width: 20em;
    color: #FFF4E0;
    gap: 4em;
    border-radius: 1em;
    z-index: 1;
}

@media screen and (max-width: 1375px) {
    .music-player-flex {
        justify-content: center;
        padding: 0;
        min-width: 25em;
        top:  calc(8% + 1.5em);
    }

    .music-player-container {
        width: 25em;
    }
}