.music-player-toolbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 60px;
    background-color: rgb(125, 45, 126);
    border-radius: 10vw;
}

.music-player-play-button, .music-player-pause-button {
    width: 20%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    position: absolute;
    left: 40%;
    z-index: 1;
}
.music-player-play-button:hover, .music-player-pause-button:hover {
    background-color: #161616;
}
.music-player-play-button:active, .music-player-pause-button:active {
    background-color: #2a2a2a;
    transform: translate(-0.5px, -0.5px);
}
.music-player-play-button.hidden,.music-player-pause-button.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.music-previous-song-button {
    width: 13%;
    height: 66%;
    border-radius: 100%;
    cursor: pointer;
    font-size: 30px;
    color: #B46060;
    margin-left: 5%;
    background-color: black;
    font-size: 200%;
    transform: rotate(180deg);
}
.music-previous-song-button:hover {
    background-color: #161616;
}
.music-previous-song-button:active {
    background-color: #2a2a2a;
    transform: rotate(180deg) translate(-0.5px, -0.5px);
}

.music-next-song-button {
    width: 13%;
    height: 66%;
    border-radius: 100%;
    cursor: pointer;
    font-size: 30px;
    color: #B46060;
    margin-right: 5%;
    background-color: black;
    font-size: 200%;
    transition: opacity 0.2s ease-in-out;
}
.music-next-song-button:hover {
    background-color: #161616;
}
.music-next-song-button:active {
    background-color: #2a2a2a;
    transform: translate(-0.5px, -0.5px);
}

@media screen and (max-width: 1375px) {
    .music-player-toolbar {
        height: 70px;
    }
  }