.settings-menu-flex {
    overflow: hidden;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: end;
    left: 0;
    right: 0;
    top: calc(7% + 1em);
    margin: 0 auto 0 auto;
    max-width: 80em;
    padding: 0em 10em;
    z-index: 1;
}

.settings-menu-container {
    text-align: center;
    flex-direction: column;
    background-color: #b15353;
    width: 20em;
    color: #FFF4E0;
    gap: 1em;
    border-radius: 1em;
}

.upper-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.settings-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.pomodoro {
    padding: 2.5em 0em 0em 0em;
}

.menu-header {
    font-size: 2em;
    font-weight: 500;
}

.menu-text {
    font-size: 1.25em;
    color: #FFF4E0;
}

.time-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14em;
}

.button {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: #FFF4E0;
}

.value-button {
    font-size: 4em;
    cursor: pointer;

    transition: opacity 0.2s;
}
.value-button:hover {
    opacity: 0.8;
}
.value-button:active {
    opacity: 0.6;
    transform: translate(-0.3px, -0.3px);
}

.bottom-button {
    cursor: pointer;
    font-size: 1em;
    transition: opacity 0.2s;
}
.bottom-button:hover {
    opacity: 0.8;
}
.bottom-button:active {
    opacity: 0.6;
    transform: translate(-0.3px, -0.3px);
}

.minus-button {
    padding-bottom: 0.2em;
}

.reset-preferences-container {
    display: flex;
    align-items:center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
}
.reset-preferences-button {
    color: #ffffff97;
}

@media screen and (max-width: 1375px) {
    .settings-menu-flex {
        justify-content: center;
        padding: 0;
        min-width: 25em;
        top: calc(8% + 1.5em);
        z-index: 2;
    }

    .settings-menu-container {
        width: 25em;
    }

    .enable-god-mode-description {
        margin-left: 40px;
    }
    .hide-particles-description {
        margin-left: 40px;
    }
}

.slideIn {
    animation: slideIn 0.55s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}
.slideOut {
    animation: slideOut 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-125%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-125%);
    }
}