.itinerary-progress-bar {
    display: flex;
    width: 300px;
    height: 7px;

    margin-top: 20px;

    border-radius: 200px;

}

.itinerary-progress-bar-cycle {
    display: inline-block;
    height: 7px;
    background-color: blue;
}

.itinerary-progress-bar-cycle:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.itinerary-progress-bar-cycle:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}