.hide-particles-section {
    display: flex;
    flex-direction: row;
    align-items:center;

    border-top: 3px solid #ab3b3b;
    border-left: none;
    border-right: none;
}

.hide-particles-description {
    position: relative;
    text-align: start;
    left: 55px;
    width: 140px;
}

.hide-particles-container {
    position: relative;
    text-align: start;
    left: 90px;
    width: 30px;
    height: 30px;
}

.hide-particles-button {
    width: 100%;
    height: 100%;

    background-color: #b15353;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 40%;
}

.hide-particles-button:hover {
    opacity: 0.8;
}

.hide-particles-button:active {
    opacity: 0.5
}

.hide-particles-x {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 26px;
    pointer-events: none;

    transition: opacity 0.4s;
}

.hide-particles-x.hidden {
    opacity: 0;
}